body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

a{
   border: 1px solid;
    height: 30px;
    font-size: 25px;
    margin-top: 5px;
}
header{
    background-color: lightgray;
    height: 50px;
    width: 100%;
}

.formcontent{
    width: 90%;
    margin: auto auto;
}